@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #eee;
  padding: 20px 2rem;
}

.loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #007bff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #fff;
  transition: background-color 0.3s ease;
  margin-left: auto;

}
.loginBtn:hover {
  background-color: #0062cc;
}

.logo {
  color: rgb(0, 0, 0);
  font-family: "Fredoka One", sans-serif;
  font-weight: 400;
}
.logoutIcon {
  position: relative;
  cursor: pointer;
}
.logoutBox {
  position: absolute;
  right: -4px;
  background: #0062cc;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 13px;
}
.logoutText:hover {
text-decoration: underline;
}
.proBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #0062cc;
  padding: 0.5rem 1rem;
border: none;
background: none;
}
.btns{
  display: flex;
  flex-direction: row;
  align-items: center;  
  gap: 5px;
}
.cartIcon{
  position: relative;
}
.ItemsCount {
  position: absolute;
  height: 12px;
  border-radius: 50%;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 7px;
  right: 31px;
  font-size: 20px;
  font-family: monospace;
  color: #007bff;
}
.homeBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #0062cc;
  padding: 0.5rem 1rem;
border: none;
background: none;
}