@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #eee;
  padding: 20px 2rem;
}

.loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #007bff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #fff;
  transition: background-color 0.3s ease;
}

.loginBtn:hover {
  background-color: #0062cc;
}

.logo {
  color: #eee;
  font-family: "Fredoka One", sans-serif;
  font-weight: 400;
}
